.webswing-dialog-container {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden
}

.webswing-dialog-backdrop {
	position: absolute;
	bottom: 0px;
	top: 0px;
	right: 0px;
	left: 0px;
	opacity: 0.5;
	background-color: #000000;
}

.webswing-dialog {
	overflow-x: visible;
	display: table;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1050;
}

.webswing-dialog-modal {
	vertical-align: middle;
	display: table-cell;
}

.webswing-dialog-modal-content {
	width: 100%;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 30px;
	padding-bottom: 30px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	background-color: #ffffff;
	padding-right: 15%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.input-hidden {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 1px;
    display: block;
    font-size: 1;
    z-index: -1;
    color: transparent;
    background: transparent;
    overflow: hidden;
    border: none;
    padding: 0;
    resize: none;
    outline: none;
    -webkit-user-select: text;
    user-select: text;
    /* Because for user-select:none, Safari won't allow input */
}

.ajaxProgressPanel{
	position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 50px;
  position: relative;
  text-align: center;
  background: white;
  box-shadow: 0 0 13px rgba(0,0,0,0.05);
  border-radius: 50%;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 50%;
  height: 50%;
  display: inline-block;
  margin-left: -25%;
  position: absolute;
  top: 10%;
  background-color: rgba(51, 122, 183, 0.5);
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 10%;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}